section{
    background-color: lightcyan;
    padding-bottom: 3rem;
}
.mainTitle{
    text-align: center;
    margin-top: 5rem;
    padding-top: 2rem;
    font-size: 5rem;
    color: rgb(15, 127, 231);

}
.moneySpan{
    color: blue;
}
.headBalancedSection{
    display: flex;
    justify-content: space-evenly;
    gap:1rem;
    padding: 0 15rem;
    color: #fff;
}
.depositSection{
    background-color: lightgreen;
    border-radius: 0.4rem;
    width: 20rem;
    height: 8rem;
    padding-left: 1.5rem;
}
.depositSection h1{
    margin:0;
    margin-top: 1.5rem;
}
.depositSection .depositSectionDollar{
    margin-top: 0.1rem;
        font-size: 2.5rem;
}
.withdrawSection{
    background-color: lightpink;
    border-radius: 0.4rem;
    width: 20rem;
    height: 8rem;
    padding-left: 1.5rem;
}
 .withdrawSection h1{
    margin:0;
    margin-top: 1.5rem;
}
.withdrawSection .withdrawSectionDollar{
    margin-top: 0.1rem;
        font-size: 2.5rem;
} 
 .balancedSection{
    background-color: lightcoral;
    border-radius: 0.4rem;
    width: 20rem;
    height: 8rem;
    padding-left: 1.5rem;
} 
.balancedSection h1{
    margin:0;
    margin-top: 1.5rem;
}
.balancedSection .balancedSectionDollar{
    margin-top: 0.1rem;
        font-size: 2.5rem;
} 
.input-container{
    display: flex;
    color: white;
    margin-top: 5rem;
    gap: 4rem;
    justify-content: center;

}
.inputWithdrawpart{
    background-color: rgb(207, 159, 255);
    border-radius: 0.6rem;
    padding: 0.8rem;
    width: 35rem;
    height: 15rem;
}
.inputWithdrawpart h1{
    padding-left: 0.7rem;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.inputWithdrawpart input{
    margin-top: 0;
    padding-left: 5rem;
    margin-left: 3.4rem;
    width: 15rem;
    height: 1.5rem;
    border-radius: 0.4rem;
    border: none;
    color: black;
}
.inputWithdrawpart button{
    padding: 0.7rem 1rem;
    width:10rem ;
    border-radius: 0.4rem;
    border: none;
    margin-top: 1rem;
    margin-left: 3.4rem;
    background-color: rgb(86, 44, 184);
    color: #fff;
    font-weight: 600;
    
}
.inputDepositpart{
    background-color: rgb(70, 174, 235);
    border-radius: 0.6rem;
    padding: 0.8rem;
    width: 35rem;
    height: 15rem;
}
.inputDepositpart h1{
    padding-left: 0.7rem;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.inputDepositpart input{
    margin-top: 0;
    padding-left: 5rem;
    margin-left: 3.4rem;
    width: 15rem;
    height: 1.5rem;
    border-radius: 0.4rem;
    border: none;
    color: black;
}
.inputDepositpart button{
    padding: 0.7rem 1rem;
    width:10rem ;
    border-radius: 0.4rem;
    border: none;
    margin-top: 1rem;
    margin-left: 3.4rem;
    background-color: blue;
    color: #fff;
    font-weight: 600;
    
}